@using FoodApp.Core
@model Restaurant

<div class="card mt-3">
    <div class="card-header">
        <h3>@Model.Name</h3>
    </div>
    <div class="card-body">
        <div>Location : @Model.Location </div>
        <div>Cuisine : @Model.Cuisine </div>
    </div>
    <div class="card-footer">
        <a class="btn btn-lg" asp-page="./Detail" asp-route-restaurantId="@Model.ID">
            <i class="fa-solid fa-magnifying-glass-plus"></i>
        </a>
        <a class="btn btn-lg" asp-page="./Edit" asp-route-restaurantId="@Model.ID">
            <i class="fas fa-edit"></i>
        </a>
        <a class="btn btn-lg" asp-page="./Delete" asp-route-restaurantId="@Model.ID">
            <i class="fas fa-trash"></i>
        </a>
    </div>
</div>

